{form form}
    {input text, class => "w-100 border border-dark"}
    {input send, class => "btn btn-primary mt-2 mb-2"}
    <a href="{plink default}" class="btn btn-secondary" title="Clear form">Clear form</a>
    {input hyphen, class => "float-right"}
{/form}