search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Services\TranslatePigLatin\TranslatePigLatinService
	- App\Services\TranslatePigLatin\TranslatePigLatinPunctuationHandler
