{block content}
	<h4 class="text-black-80 text-center mt-4">Simple pig latin translator</h4>

	<div class="">
		{control pigLatinForm}

		<div id="translationResult">
			{ifset $translatedText}
				<p>Translated Text: {$translatedText}</p>
			{/ifset}
		</div>
	</div>
{/block}